<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
    		{{db.DashContent}}
        </div>
    </div>
    <div class="row">
	    <div class="col-lg-6">
	        <div class="ibox-content">
	            <h2>Your Todo List</h2>
	            <div>
	            	<form novalidate name="db.todo" ng-submit="db.todo.$valid && db.addTodo()">
		            	<div class="form-group">
		            		<div class="input-group">
		            			<input type="text" class="form-control input-sm" placeholder="Add New Todo" ng-model="db.newTodo" required>
		            			<span class="input-group-btn">
		            				<button type="submit" class="btn btn-white btn-sm"> Add Todo</button>
		            			</span>
		            		</div>
		            	</div>
	            	</form>
	            </div>
	            <ul class="todo-list m-t">
	                <li ng-repeat="t in db.todos | orderBy: 'order'">
	                	<i class="fa fa-bars"></i>&nbsp;
	                    <input icheck type="checkbox" ng-model="t.completed" ng-change="db.checkCompleted($index)">
	                    <span class="m-l-xs" ng-class="{'todo-completed': t.completed}">{{t.description}}</span>
	                    <small class="label label-primary"><i class="fa fa-clock-o"></i> 1 mins</small>
	                </li>
	            </ul>
	        </div>
	    </div>
    </div>
</div>