.login-body {
  /*background: -webkit-linear-gradient(281deg,#0c63aa,#7ac5fa);*/
  /*background: linear-gradient(169deg,#0c63aa,#7ac5fa);*/
  /*background-color: #0c63aa;*/
  background-color: #f3f3f4;
}

.bounce.ng-hide-remove {
  -webkit-animation: bounce 1s;
  -moz-animation: bounce 1s;
  -ms-animation: bounce 1s;
  animation: bounce 1s;
}

.sub-menu-item {
	display: block;
	padding: 15px 25px;
}

.list-group-item-remove {
	padding: 0px !important;
}

.task-open {
  background-color: #6cc644;
  border-color: #6cc644;
  color: #FFFFFF;
  font-size: 16px;
}

.task-completed {
  /*background-color: #6cc644;
  border-color: #6cc644;
  color: #FFFFFF;*/
  font-size: 16px;
}

.ckItemHandle {
  cursor: -webkit-grab;
}

.strike {
  text-decoration: line-through;
}