<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Change your password</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
    <div class="col-md-4">
        <div class="row">
        	<form ng-submit="changePasswordForm.$valid && cp.changePassword()" name="changePasswordForm" novalidate confirm-exit>
                <!-- <div class="profile-image">
                    <img src="img/sitkum.png" class="img-circle circle-border m-b-md" alt="profile">
                </div> -->
                <!-- <div class="profile-info"> REMOVED UNTIL WE PUT LOGO BACK.. -->
                <div class="col-md-12">
	                <div class="ibox float-e-margins">
		                <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{'has-error': changePasswordForm.$submitted && !changePasswordForm.currentPassword.$valid || cp.passwordIncorrect}">
                                        <label class="control-label">Current Password</label>
                                        <input type="password" class="form-control" ng-model="cp.user.currentpassword" name="currentPassword" required>
                                        <span id="passwordIncorrect" class="help-block" ng-show="cp.passwordIncorrect">Password is incorrect, please try again</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{'has-error': changePasswordForm.$submitted && !changePasswordForm.newPassword.$valid || cp.passwordNotMatch}">
                                        <label class="control-label">New Password</label>
                                        <input type="password" class="form-control" ng-model="cp.user.newpassword" name="newPassword" required>
                                        <span id="passwordIncorrect" class="help-block" ng-show="cp.passwordNotMatch">Passwords do not match, please try again</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{'has-error': changePasswordForm.$submitted && !changePasswordForm.repeatPassword.$valid || cp.passwordNotMatch}">
                                        <label class="control-label">Retype New Password</label>
                                        <input type="password" class="form-control" ng-model="cp.user.repeatpassword" name="repeatPassword" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <button class="btn btn-w-m btn-primary">Change your password</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>