<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>System Templates</h2>
        <!-- <ol class="breadcrumb">
            <li>
                <a ui-sref="app.dashboard">Dashboard</a>
            </li>
            <li class="active">
                <strong>Clients</strong>
            </li>
        </ol> -->
    </div>
</div>
<div ui-view></div>