<div class="row m-t-sm m-l-sm">
    <div class="col-md-12">
    	<h3>{{ tl.templateType.description }} Templates</h3>
        <small>
            Templates are used througout the application to give you consistency across all your clients, documents, sripts and assets.
        </small>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
	<div class="col-md-12">
		<div class="ibox">
			<div class="ibox-title">
                <a ui-sref="app.templates.new({type: tl.templateType._id})" class="btn btn-primary btn-sm" ng-disabled="isLoading"><i class="fa fa-plus"></i> Add Template</a>
            </div>
            <div class="ibox-content">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th class="text-center">Type</th>
							<th class="text-center">Version</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-show="tl.isLoading">
							<td colspan="5" class="text-center"><i class="fa fa-spinner fa-pulse fa-2x"></i></td>
						</tr>
						<tr ng-repeat="t in tl.templates">
							<td><a ui-sref="app.templates.edit({id: t._id, type: tl.templateType._id})">{{t.name}}</a></td>
							<td class="text-center">{{t.templateType.description}}</td>
							<td class="text-center">{{t.version}}</td>
							<td>
								<span class="pull-right">
									<a class="btn btn-info btn-xs" ui-sref="app.templates.edit({id: t._id, type: tl.templateType._id})">Edit</a>&nbsp;
									<button class="btn btn-danger btn-xs" ng-click="tl.deleteTemplate(t._id)" ng-disabled="tl.deleteActive == t._id">Delete</button>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>