<div class="row m-t-sm m-l-sm">
    <!-- <div class="col-md-12"> -->
    	<h3>{{ te.mode }} Template</h3>
        <small>
            Have a brief little blub about the template type they are going to add, maybe some helpful tips.
        </small>
    <!-- </div> -->
</div>

<div class="wrapper wrapper-content animated fadeIn">
	<form ng-submit="te.templateForm.$valid && te.saveTemplate()" name="te.templateForm" novalidate confirm-exit>
		<div class="row">
			<div class="col-md-4">
				<div class="ibox">
					<div class="ibox-title">
		                <button class="btn btn-primary btn-sm">Save</button>
		            </div>
		            <div class="ibox-content">
		            	<div class="row">
			            	<div class="col-md-12">
				            	<div class="form-group" ng-class="{'has-error': te.templateForm.$submitted && !te.templateForm.templateName.$valid || te.nameExists}">
				            		<label class="control-label">Template Name</label>
				            		<input type="text" class="form-control" ng-model="te.template.name" name="templateName" required>
				            		<span id="templateNameExist" class="help-block" ng-show="te.nameExists">Template name already exists.</span>
				            	</div>
				            </div>
				            <div class="col-md-12">
				            	<div class="form-group" ng-class="{'has-error': te.templateForm.$submitted && !te.templateForm.templateType.$valid}">
				            		<label class="control-label">Template Type</label>
				            		<select class="form-control" name="templateType" ng-options="type.description for type in te.templateTypes track by type._id" ng-model="te.template.templateType" required></select>
				            	</div>
				            </div>
				        </div>
				        <div class="row">
				        	<div class="col-md-12">
				        		<div class="form-group">
				            		<label>Description</label>
				            		<input type="text" class="form-control" ng-model="te.template.description">
				            	</div>
				        	</div>
				        </div>
		            </div>
		        </div>
		    </div>
		    <div class="col-md-8">
				<div class="ibox" ng-if="te.template.templateType.description == 'Asset' || te.template.templateType.description == 'Client'|| te.template.templateType.description == 'Script'">
					<div class="ibox-title">
		                Template Fields
		            </div>
		            <div class="ibox-content">
		            	<div class="row" ng-repeat="field in te.template.fields">
		            		<div class="col-md-12">
				        		<div class="form-group">
				            		<label class="sr-only">Field Name</label>
				            		<div ng-class="{'input-group': $index > 0}">
				            			<input type="text" class="form-control" ng-model="field.name" placeholder="Enter Field Name">
				            			<span class="input-group-btn" ng-show="$index > 0">
	                                        <button type="button" class="btn btn-danger" ng-click="te.removeField($index)">
	                                            <i class="fa fa-minus"></i>
	                                        </button>
	                                    </span>
	                                </div>
				            	</div>
				        	</div>
		            	</div>
		            	<div class="row">
		            		<div class="col-md-12">
		            			<a ng-click="te.addField()">Add Field</a>
		            		</div>
		            	</div>
		            </div>
		        </div>
		        <div class="ibox" ng-if="te.template.templateType.description == 'Script'">
					<div class="ibox-title">
		                Script Definition
		            </div>
		            <div class="ibox-content">
		            	<div class="row">
		            		<div class="col-md-12">
				        		<ui-codemirror ui-codemirror-opts="te.editorOptions" ng-model="te.template.script">
				        			// Code Goes Here.
				        			// You can copy paste your code here.
                        		</ui-codemirror>
				        	</div>
		            	</div>
		            </div>
		        </div>
		    </div>
		</div>
	</form>
</div>