<div class="fh-breadcrumb animated fadeIn" fit-height>
	<div class="fh-column">
        <div class="full-height-scroll" full-scroll>
            <ul class="list-group elements-list">
                <li ui-sref-active="active" class="list-group-item list-group-item-remove" ng-repeat="type in t.templateTypes | orderBy:'description'">
                    <a ui-sref="app.templates.list.details({type: type._id})" class="sub-menu-item"><i class="fa {{type.icon}} fa-fw"></i> {{type.description}}</a>
                </li>
            </ul>
        </div>
    </div>

	<div class="full-height">
        <div class="full-height-scroll border-left" full-scroll>
            <div ui-view></div>
        </div>
    </div>
</div>