<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Your Organizations Settings</h2>
    </div>
</div>
<div class="fh-breadcrumb animated fadeIn" fit-height>
    <div class="fh-column">
        <div class="full-height-scroll" full-scroll>
            <ul class="list-group elements-list">
                <li ui-sref-active="active" class="list-group-item list-group-item-remove">
                    <a ui-sref="app.settings.organization.basic" class="sub-menu-item"><i class="fa fa-file-o fa-fw"></i> Basic Information</a>
                </li>
                <li ui-sref-active="{'active': 'app.settings.organization.locations.*'}" class="list-group-item list-group-item-remove">
                    <a ui-sref="app.settings.organization.locations.list" class="sub-menu-item"><i class="fa fa-map-marker fa-fw"></i> Locations</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="full-height">
        <div class="full-height-scroll border-left" full-scroll>
            <div ui-view></div>
        </div>
    </div>
</div>