<div class="wrapper wrapper-content animated fadeIn">
	<div class="col-md-12">
		<div class="ibox">
            <div class="ibox-content">
				<form ng-submit="o.organizationForm.$valid && o.submitClick()" name="o.organizationForm" novalidate confirm-exit>
					<div class="row">
						<div class="col-sm-3">
							<div class="form-group">
								<label class="sr-only">Your Logo</label>
								<div class="" ng-hide="changeImage">
									<img src="{{o.organization.logo}}" class="img-responsive" ng-model="o.organization.logo">
								</div>
						        <div ng-show="changeImage">
						            <img ngf-src="companyLogo" class="img-responsive" ngf-select="selectImage($file)" ng-model="o.companyLogo" accept="image/*"/>
						        </div>
						        <div class="" style="padding-top: 10px;">
						            <button ngf-select="selectImage($file)" ng-model="companyLogo" accept="image/*" class="btn btn-primary" type="button"><i class="fa fa-camera"></i> Select</button>
						        </div>
							</div>
						</div>
						<div class="col-sm-5">
							<div class="form-group">
								<label class="control-label">Company Name</label>
								<input type="text" class="form-control" ng-model="o.organization.name">
							</div>
							<div class="form-group">
								<label class="control-label">Short Company Name</label>
								<input type="text" class="form-control" ng-model="o.organization.shortname">
							</div>
							<div class="form-group">
								<label class="control-label">Primary Location</label>
								<select class="form-control" ng-model="o.organization.primarylocation">
									<option ng-repeat="l in o.organization.locations" value="{{l._id}}">{{l.name}}</option>
								</select>
							</div>
							<div class="form-group">
								<label class="control-label">Primary Contact</label>
								<select class="form-control" name="users" ng-options="user.name for user in o.users track by user._id" ng-model="o.organization.admin"></select>
								<p class="form-control-static">{{o.admin.name}}<br>{{o.admin.email}}</p>
							</div>
							<div class="form-group">
								<button class="btn btn-primary">Save</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>