<div class="row m-t-sm m-l-sm">
    <div class="col-md-12">
    	<h3>Locations</h3>
        <small>
            Add all your office addresses here, you will then be able to assign a employee to a location once they are added.
        </small>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
	<div class="col-md-12">
		<div class="ibox">
			<div class="ibox-title">
                <button class="btn btn-primary btn-sm" ui-sref="app.settings.organization.locations.new"><i class="fa fa-plus"></i> Add Location</button>
            </div>
            <div class="ibox-content">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Address</th>
							<th>City</th>
							<th>Province</th>
							<th>Phone Number</th>
							<th>Email</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-show="isLoading">
							<td colspan="5" class="text-center"><i class="fa fa-spinner fa-pulse fa-2x"></i></td>
						</tr>
						<tr ng-repeat="a in ol.locations">
							<td><a ui-sref="app.settings.organization.locations.edit({id: a._id})">{{a.name}}</a></td>
							<td>{{a.address1}} {{a.address2}}</a></td>
							<td>{{a.city}}</td>
							<td>{{a.province}}</td>
							<td>{{a.phonenumber}}</td>
							<td>{{a.email}}</td>
							<td>
								<span class="pull-right">
									<button class="btn btn-info btn-xs" ui-sref="app.settings.organization.locations.edit({id: a._id})">Edit</button>&nbsp;
									<button class="btn btn-danger btn-xs" ng-click="ol.deleteLocation(a._id)" ng-disabled="ol.deleteActive == a._id">Delete</button>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>