<div class="login-body">
  <div class="middle-box text-center loginscreen  animated fadeInDown">
    <form novalidate name="login" ng-submit="login.$valid && lg.signInClick()" class="slideInDown">
      <div>
          <div>
              <h1 class="logo-name">
                <h2><span>it</span><span class="text-primary">Docs</span><small style="position:absolute; font-size: 12px;">beta</small></h2>
              </h1>
          </div>
          <h3>Welcome to Amplitude Solutions Inc.</h3>
          <p>
            Helping you keep your clients documented!
            <hr>
          </p>
          <p><!-- Login in. To see it in action. -->
            <div class="alert alert-danger bounce" ng-show="lg.errorCaught">
              the email or password you entered is incorrect.
            </div>
          </p>
          <form class="m-t" role="form" action="#">
              <div class="form-group" ng-class="{'has-error': login.$submitted && !login.userEmail.$valid || lg.errorCaught}">
                  <input type="text" class="form-control" placeholder="Email" name="userEmail" ng-model="lg.user.email" required>
              </div>
              <div class="form-group" ng-class="{'has-error': login.$submitted && !login.userPassword.$valid || lg.errorCaught}">
                  <input type="password" class="form-control" placeholder="Password" name="userPassword" ng-model="lg.user.password">
              </div>
              <button type="submit" class="btn btn-primary block full-width m-b" ng-disabled="lg.isProcessing">Login</button>

              <a ui-sref="forgot_password"><small>Forgot password?</small></a>
              <!-- <p class="text-muted text-center"><small>Do not have an account?</small></p> -->
              <!-- <a class="btn btn-sm btn-white btn-block" ui-sref="register">Create an account</a> -->
          </form>
          <!-- <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p> -->
      </div>
    </form>
  </div>
</div>