<div class="ibox-content" ng-cloak>
    <div class="row">
    	<div class="col-md-4">
    		<!-- <div class="form-group"> -->
            <form ng-submit="td.submitFilter()">
        		<input type="text" class="form-control input-sm" placeholder="Search tasks..." ng-model="td.taskFilter">
        	</form>
            <!-- </div> -->
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-sm btn-default" ng-click="td.clearFilter()" ng-hide="td.taskFilter == 'is:open'"><i class="fa fa-close"></i> Clear Filters</button>
            <!-- <h4 ng-hide="td.taskFilter == 'is:open'"><a ng-click="td.clearFilter()"><i class="fa fa-close"></i> Clear filters</a></h4> -->
        </div>
    	<div class="col-md-6 text-right">
    		<h4><i class="fa fa-pencil-square-o"></i> <a ui-sref="app.tasks.list.details({q: null, page: null})">{{td.open}} Open</a> <i class="fa fa-check-square-o"></i> <a ui-sref="app.tasks.list.details({q: 'completed', page: null})">{{td.completed}} Completed</a></h4>
    	</div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="todo-list m-t">
                <li ng-repeat="t in td.tasks | orderBy: 'order'">
                	<!-- <i class="fa fa-bars"></i>&nbsp; -->
                    <input icheck type="checkbox" ng-model="t.completed" ng-change="td.checkCompleted(t)">
                    <span class="m-l-xs" ng-class="{'todo-completed': t.completed}"><a ui-sref="app.tasks.edit({id: t._id})">{{t.title}}</a></span>
                    <small ng-show="t.assignedto" class="m-l-sm"><i class="fa fa-user-o"></i> {{t.assignedto.name}}</small>
                    <small ng-show="t.client" class="m-l-sm"><i class="fa fa-building-o"></i> <a ui-sref="app.clients.detail.dashboard({id: t.client._id})">{{t.client.name}}</a></small>
                    <small ng-show="t.asset" class="m-l-sm"><i class="fa fa-laptop"></i> <a ui-sref="app.clients.detail.asset.dashboard({id: t.client._id, asset_id: t.asset._id})">{{t.asset.name}}</a></small>
                    <small ng-show="t.checklists.length" class="m-l-sm">
                    <!-- <span class="label" ng-class="{'label-primary': t.completedItems == t.totalItems, 'label-info': t.completedItems != t.totalItems}"> -->
                            <i class="fa fa-check-square-o"></i> {{t.completedItems}} of {{t.totalItems}}
                        <!-- </span> -->
                    </small>
                    <small ng-show="t.activities.length" class="m-l-sm">
                        <i class="fa fa-comment-o"></i> {{t.activities.length}}
                    </small>
<!--                     <div class="progress progress-mini" style="width: 25px;">
                        <div style="width: {{(t.completedItems / t.totalItems) * 100}}%;" class="progress-bar"></div>
                    </div>
 -->
                    <!-- <small>{{t.createdat | date:'short'}}</small> -->
                    <!-- <span>{{t.client.name}}</span> -->
                    <!-- <small class="label label-primary"><i class="fa fa-clock-o"></i> 1 mins</small> -->
                </li>
            </ul>
        </div>
        <div class="col-md-12 text-center">
            <ul uib-pagination total-items="td.totalItems" ng-model="td.currentPage" items-per-page="td.itemsPerPage" class="pagination-sm" ng-change="td.changePage()"></ul>
        </div>
    </div>
</div>