<div class="row m-t-sm m-l-sm">
    <!-- <div class="col-md-12"> -->
    	<h3>{{ te.mode }} Task</h3>
        <small>
            Have a brief little blub about the template type they are going to add, maybe some helpful tips.
        </small>
    <!-- </div> -->
</div>
<div class="wrapper wrapper-content animated fadeIn">
	<div class="row">
		<div class="col-md-8">
			<form ng-submit="te.taskForm.$valid && te.saveTask()" name="te.taskForm" novalidate confirm-exit>
				<div class="ibox">
					<div class="ibox-title">
						<!-- <button type="button" class="btn btn-w-m task-open" uib-dropdown-toggle>
							OPEN
						</button> -->
						<div class="">
							<span class="label label-info task-completed" ng-if="te.task.completed"><i class="fa fa-check-square-o"></i> COMPLETED</span>
							<span class="label task-open" ng-if="!te.task.completed"><i class="fa fa-pencil-square-o"></i> OPEN</span>
							<!-- <small class="m-l-xs" ng-hide="te.mode == 'Add New'">Created by {{te.task.createdby.name}} @ {{te.task.createdat | date: 'medium'}}</small> -->
							<button class="btn btn-primary btn-xs pull-right m-l-xs">Save</button>
							<button type="button" class="btn btn-info btn-xs pull-right" ng-click="te.completedClick()"><span ng-show="!te.task.completed">Mark Completed</span><span ng-show="te.task.completed">Re-Open Task</span></button>
						</div>
					</div>
					<div class="ibox-content">
						<div class="row">
							<div class="col-md-10">
								<div class="row">
									<div class="col-md-3" ng-show="te.view.assignedto">
										<strong>Assigned To</strong><br>
										{{te.view.assignedto}}
									</div>
									<div class="col-md-3" ng-show="te.view.client">
										<strong>Client</strong><br>
										{{te.view.client}}
									</div>
									<div class="col-md-3" ng-show="te.view.asset">
										<strong>Asset</strong><br>
										{{te.view.asset}}
									</div>
								</div>
								<div class="row m-t-md">
									<div class="col-md-12">
										<div class="form-group" ng-class="{'has-error': te.taskForm.$submitted && !te.taskForm.title.$valid}">
											<label class="control-label">Title</label>
											<input type="text" class="form-control" ng-model="te.task.title" name="title" required>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Description</label>
											<textarea class="form-control" name="description" ng-model="te.task.description"></textarea>
										</div>
									</div>
								</div>
								<div class="row">
									<div>
										<div class="col-md-12" ng-repeat="c in te.task.checklists">
											<hr>
											<h3>
												<!-- <i class="fa fa-bars"></i>&nbsp; --> {{c.name}} 
												<small>{{(te.taskProgress[$index].complete / te.taskProgress[$index].total) * 100 | number:0}}%</small>
												<small class="pull-right m-t-xs"><a ng-click="te.removeChecklist($index)">Remove</a></small>
												<small class="pull-right m-t-xs m-r-xs"><a ng-click="te.toggleCompleted($index)"><span ng-show="!te.taskProgress[$index].toggle">Hide Completed</span><span ng-show="te.taskProgress[$index].toggle">Show Completed ({{te.taskProgress[$index].complete}})</span></a></small>
											</h3>

											<div class="progress progress-mini">
					                            <div style="width: {{(te.taskProgress[$index].complete / te.taskProgress[$index].total) * 100}}%;" class="progress-bar"></div>
					                        </div>
											<ul class="todo-list m-t" ui-sortable="te.sortableOptions" ng-model="c.items">
												<li ng-repeat="i in c.items" ng-hide="i.completed && te.taskProgress[$parent.$index].toggle">
													<div class="row">
														<div class="col-md-1 m-t-xs">
															<i class="fa fa-bars ckItemHandle"></i>
														</div>
														<div class="col-md-1">
															<label class="control-label m-t-xs">
																<input icheck type="checkbox" ng-model="i.completed" ng-change="te.checkComplete(i, $parent.$index)">
															</label>
														</div>
							                            <div class="col-md-9">
							                            	<input type="text" class="m-l-xs form-control" ng-model="i.description" ng-class="{strike: i.completed}">
							                            </div>
							                            <div class="col-md-1">
							                            	<div class="btn-group pull-right" uib-dropdown auto-close="outsideClick" is-open="">
																<button id="" type="button" class="btn btn-default" uib-dropdown-toggle>
																	<i class="fa fa-ellipsis-v"></i>
																</button>
														      	<ul class="dropdown-menu" uib-dropdown-menu role="menu">
														      		<li>
														      			<a ng-click="te.removeChecklistItem($parent.$index, $index, i)">Delete</a>
														      		</li>
														      		<li>
														      			<a ng-click="te.covertToTask($parent.$index, $index, i)">Convert to Task</a>
														      		</li>
															    </ul>
														    </div>
							                            </div>
							                        </div>
													
												</li>
											</ul>
											<button class="m-l-sm m-t-sm btn btn-primary btn-xs" type="button" ng-click="te.addChecklistItem($index)">Add New Item</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-2">
								<div class="row m-t-sm">
									<div class="btn-group" uib-dropdown auto-close="outsideClick" is-open="te.assignedto.open">
										<button id="" type="button" class="btn btn-w-m" uib-dropdown-toggle ng-class="{'btn-primary': te.view.assignedto, 'btn-default': !te.view.assignedto}">
											Assigned To
										</button>
								      	<ul class="dropdown-menu" uib-dropdown-menu role="menu">
									        <li class="p-xs bg-muted">
										        <input type="text" class="form-control input-sm" placeholder="Filter Users" ng-model="te.assignedToSearch">
									        </li>
									        <li ng-repeat="u in te.users | filter: te.assignedToSearch"><a ng-click="te.assignedToChange(u)"><i class="fa fa-check m-r-xs" ng-if="te.assignedto.selected == u._id"></i> {{u.name}}</a></li>
								      	</ul>
								    </div>
								</div>
								<div class="row m-t-sm">
									<div class="btn-group" uib-dropdown auto-close="outsideClick" is-open="te.client.open">
										<button id="" type="button" class="btn btn-default btn btn-w-m" uib-dropdown-toggle ng-class="{'btn-primary': te.view.client, 'btn-default': !te.view.client}">
											Client
										</button>
								      	<ul class="dropdown-menu" uib-dropdown-menu role="menu">
									        <li class="p-xs bg-muted">
										        <input type="text" class="form-control input-sm" placeholder="Filter Clients" ng-model="te.clientSearch">
									        </li>
									        <li ng-repeat="c in te.clients | filter: te.clientSearch"><a ng-click="te.clientChange(c)"><i class="fa fa-check m-r-xs" ng-if="te.client.selected == c._id"></i> {{c.name}}</a></li>
								      	</ul>
								    </div>
								</div>
								<div class="row m-t-sm">
									<div class="btn-group" uib-dropdown auto-close="outsideClick" is-open="te.asset.open">
										<button id="" type="button" class="btn btn-default btn btn-w-m" uib-dropdown-toggle ng-class="{'btn-primary': te.view.asset, 'btn-default': !te.view.asset}">
											Asset
										</button>
								      	<ul class="dropdown-menu" uib-dropdown-menu role="menu">
									        <li class="p-xs bg-muted">
										        <input type="text" class="form-control input-sm" placeholder="Filter Assets" ng-model="te.assetSearch">
									        </li>
									        <li ng-repeat="a in te.assets | filter: te.assetSearch"><a ng-click="te.assetChange(a)"><i class="fa fa-check m-r-xs" ng-if="te.asset.selected == a._id"></i> {{a.name}}</a></li>
								      	</ul>
								    </div>
								</div>
								<!-- <div class="row m-t-sm">
									<div class="btn-group" uib-dropdown auto-close="outsideClick" is-open="te.label.open">
										<button id="" type="button" class="btn btn-default btn btn-w-m" uib-dropdown-toggle>
											Label
										</button>
								      	<ul class="dropdown-menu" uib-dropdown-menu role="menu">
									        <li class="p-xs bg-muted">
										        <input type="text" class="form-control input-sm" placeholder="Filter Users" ng-model="te.assignedToSearch">
									        </li>
									        <li><a ng-click="te.createdFilterChange()"><i class="fa fa-check m-r-xs" ng-if="te.assignedto.selected === undefined"></i> All</li>
									        <li ng-repeat="u in te.users | filter: te.assignedToSearch"><a ng-click="te.createdFilterChange(u.name)"><i class="fa fa-check m-r-xs" ng-if="te.assignedto.selected == u.name"></i> {{u.name}}</a></li>
								      	</ul>
								    </div>
								</div> -->
								<div class="row m-t-sm">
									<div class="btn-group" uib-dropdown auto-close="outsideClick" is-open="te.checklist.open">
										<button id="" type="button" class="btn btn-default btn btn-w-m" uib-dropdown-toggle>
											Checklist
										</button>
								      	<ul class="dropdown-menu dropdown-alerts" uib-dropdown-menu role="menu" style="min-width: 250px;">
								      		<li>
								      			<div>
								      				<h4>New Checklist</h4>
								      			</div>
								      		</li>
								      		<li class="divider"></li>
									        <li>
									        	<label class="control-label">Name</label>
										        <input type="text" class="form-control input-sm" placeholder="Checklist Name" ng-model="te.checklistName">
									        </li>
									        <li class="m-t-sm">
									        	<button type="button" class="btn btn-primary btn-sm" ng-click="te.addChecklist()">Add Checklist</button>
									        </li>
								      	</ul>
								    </div>
								</div>
								<!-- <div class="row m-t-sm">
									<div class="btn-group" uib-dropdown auto-close="outsideClick" is-open="te.duedate.open">
										<button id="" type="button" class="btn btn-default btn btn-w-m" uib-dropdown-toggle>
											Due Date
										</button>
								      	<ul class="dropdown-menu" uib-dropdown-menu role="menu">
									        <li class="p-xs bg-muted">
										        <input type="text" class="form-control input-sm" placeholder="Filter Users" ng-model="te.assignedToSearch">
									        </li>
									        <li><a ng-click="te.createdFilterChange()"><i class="fa fa-check m-r-xs" ng-if="te.assignedto.selected === undefined"></i> All</li>
									        <li ng-repeat="u in te.users | filter: te.assignedToSearch"><a ng-click="te.createdFilterChange(u.name)"><i class="fa fa-check m-r-xs" ng-if="te.assignedto.selected == u.name"></i> {{u.name}}</a></li>
								      	</ul>
								    </div>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-4" ng-if="te.mode === 'Edit'">
			<div class="row">
				<div class="col-md-12">
					<div class="ibox">
						<div class="ibox-title">
							Add Comment
						</div>
						<div class="ibox-content">
							<div class="row">
								<form ng-submit="te.commentForm.$valid && te.addComment()" name="te.commentForm" novalidate>
									<div class="col-md-12">
										<input type="text" class="form-control" ng-model="te.newComment">
									</div>
									<div class="col-md-12 m-t-sm">
										<button type="submit" class="btn btn-primary">Add Comment</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="ibox">
						<div class="ibox-title">
							Activity
						</div>
						<div class="ibox-content">
							<div class="activity-stream">
		                        <div class="stream" ng-repeat="c in te.comments | orderBy:'-createdat'">
		                            <div class="stream-badge">
		                                <i class="fa fa-commenting-o"></i>
		                                <!-- <img ng-src="img\profile_small.jpg" class="" src="img\profile_small.jpg"> -->
		                            </div>
		                            <div class="stream-panel">
			                            <div>
			                                <div class="stream-info">
			                                <!-- <img ng-src="img\profile_small.jpg" class="" src="img\profile_small.jpg">	 -->
			                                    <span>{{c.createdby.name}}</span>
			                                    <span class="date" am-time-ago="c.createdat" title="{{c.createdat  | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}"></span>
			                                    <span class="pull-right" ng-show="te.commentEditing !== c._id" ng-if="c.createdby._id === te.currentUser._id"><a ng-click="te.removeComment(c._id)"><i class="fa fa-trash"></i></a></span>
			                                    <span class="pull-right m-r-sm" ng-show="te.commentEditing !== c._id" ng-if="c.createdby._id === te.currentUser._id"><a ng-click="te.editComment(c)"><i class="fa fa-pencil"></i></a></span>
			                                </div>
			                                <span ng-show="te.commentEditing !== c._id">{{c.details}}</span>
			                                <div class="stream-info">
			                                	<span class="date" ng-show="c.createdat !== c.lastupdatedat">Edited <span am-time-ago="c.lastupdatedat"  title="{{c.lastupdatedat  | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}"></span></span>
			                                </div>
			                            </div>
		                                <div class="clearfix" ng-show="te.commentEditing === c._id">
			                                <form ng-submit="te.saveComment(c)" name="te.commentEditForm" novalidate>
			                                	<input type="text" class="form-control" ng-model="te.commentEditingValue">
			                                	<button type="submit" class="btn btn-sm btn-primary m-t-xs m-l-xs pull-right">Save</button>
			                                	<button type="button" ng-click="te.cancelComment()" class="btn btn-sm btn-default m-t-xs pull-right">Cancel</button>
			                            	</form>
		                            	</div>
		                            </div>
		                        </div>

		                        <div class="stream">
		                            <div class="stream-badge">
		                                <i class="fa fa-file-text-o"></i>
		                                <!-- <img ng-src="img\profile_small.jpg" class="" src="img\profile_small.jpg"> -->
		                            </div>
		                            <div class="stream-panel">
			                            <div>
			                            	<span>Created by {{te.task.createdby.name}}</span>
			                                <div class="stream-info">
			                                    <span class="date">{{te.task.createdat | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}</span>
			                                </div>
			                            </div>
			                        </div>
			                    </div>

		                    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>