<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content animated fadeIn">
			<div class="ibox">
				<div class="ibox-title clearfix">
		        	<!-- <a ui-sref="app.tasks.new" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Add New Task</a> -->
					<div class="row">	
						<div class="col-md-4">
							<form novalidate name="tl.task" ng-submit="tl.task.$valid && tl.addTask()">
				            	<!-- <div class="form-group"> -->
				            		<div class="input-group">
				            			<input type="text" class="form-control" placeholder="Quick Add Task" ng-model="tl.newTask">
				            			<span class="input-group-btn">
				            				<button type="submit" class="btn btn-white"> Add Task</button>
				            			</span>
				            		</div>
				            	<!-- </div> -->
			            	</form>
						</div>
						<div class="col-md-8 text-right">
							<div class="btn-group" uib-dropdown auto-close="outsideClick" is-open="tl.created.open">
								<button id="" type="button" class="btn btn-link btn" uib-dropdown-toggle>
									Created By <span class="caret"></span>
								</button>
						      	<ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu">
							        <li class="p-xs bg-muted">
								        <input type="text" class="form-control input-sm" placeholder="Filter Users" ng-model="tl.createdSearch">
							        </li>
							        <li ng-hide="tl.createdSearch"><a ng-click="tl.createdFilterChange()"><i class="fa fa-check m-r-xs" ng-if="tl.created.selected === undefined"></i> All</a></li>
							        <li ng-repeat="u in tl.users | filter: tl.createdSearch"><a ng-click="tl.createdFilterChange(u.name)"><i class="fa fa-check m-r-xs" ng-if="tl.created.selected == u.name"></i> {{u.name}}</a></li>
						      	</ul>
						    </div>
						    <div class="btn-group" uib-dropdown auto-close="outsideClick" is-open="tl.client.open">
						      	<button id="" type="button" class="btn btn-link btn" uib-dropdown-toggle>
						        	Client <span class="caret"></span>
						      	</button>
						      	<ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu">
						      		<li class="p-xs bg-muted">
								        <input type="text" class="form-control input-sm" placeholder="Filter Clients" ng-model="tl.clientSearch">
							        </li>
							        <li ng-hide="tl.clientSearch"><a ng-click="tl.clientFilterChange()"><i class="fa fa-check m-r-xs" ng-if="tl.client.selected === undefined"></i> All</a></li>
						        	<li ng-repeat="c in tl.clients | filter: tl.clientSearch"><a ng-click="tl.clientFilterChange(c)"><i class="fa fa-check m-r-xs" ng-if="tl.client.selected == c.name"></i>{{c.name}}</a></li>
						      	</ul>
						    </div>
						    <div class="btn-group" uib-dropdown auto-close="outsideClick" is-open="tl.asset.open">
						      	<button id="" type="button" class="btn btn-link btn" uib-dropdown-toggle>
						        	Asset <span class="caret"></span>
						      	</button>
						      	<ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu">
						      		<li class="p-xs bg-muted">
								        <input type="text" class="form-control input-sm" placeholder="Filter Assets" ng-model="assetSearch">
							        </li>
							        <li ng-hide="tl.assetSearch"><a ng-click="tl.assetFilterChange()"><i class="fa fa-check m-r-xs" ng-if="tl.asset.selected === undefined"></i> All</a></li>
						        	<li ng-repeat="a in tl.assets | filter: assetSearch"><a ng-click="tl.assetFilterChange(a.name)"><i class="fa fa-check m-r-xs" ng-if="tl.asset.selected == a.name"></i>{{a.name}}</a></li>
						      	</ul>
						    </div>
						    <div class="btn-group" uib-dropdown auto-close="outsideClick" is-open="tl.assignedto.open">
						      	<button id="" type="button" class="btn btn-link btn" uib-dropdown-toggle>
						        	Assigned To <span class="caret"></span>
						      	</button>
						      	<ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu">
						        	<li class="p-xs bg-muted">
								        <input type="text" class="form-control input-sm" placeholder="Filter Users" ng-model="tl.assignedtoSearch">
							        </li>
							        <li ng-hide="tl.assignedtoSearch"><a ng-click="tl.assignedtoFilterChange()"><i class="fa fa-check m-r-xs" ng-if="tl.assignedto.selected === undefined"></i> All</a></li>
						        	<li ng-hide="tl.assignedtoSearch"><a ng-click="tl.assignedtoFilterChange('unassigned')"><i class="fa fa-check m-r-xs" ng-if="tl.assignedto.selected === 'unassigned'"></i> Unassigned</a></li>
						        	<li ng-repeat="u in tl.users | filter: tl.assignedtoSearch"><a ng-click="tl.assignedtoFilterChange(u.name)"><i class="fa fa-check m-r-xs" ng-if="tl.assignedto.selected == u.name"></i> {{u.name}}</a></li>
						      	</ul>
						    </div>
						    <div class="btn-group" uib-dropdown auto-close="outsideClick" is-open="tl.sort.open">
						      	<button id="" type="button" class="btn btn-link btn" uib-dropdown-toggle>
						        	Sort <span class="caret"></span>
						      	</button>
						      	<ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu">
						        	<li><a ng-click="tl.sortFilterChange('desc')"><i class="fa fa-check m-r-xs" ng-if="tl.sort.selected === 'desc'"></i> Newest</a></li>
						        	<li><a ng-click="tl.sortFilterChange('asc')"><i class="fa fa-check m-r-xs" ng-if="tl.sort.selected === 'asc'"></i> Oldest</a></li>
						      	</ul>
						    </div>
						</div>
					</div>
				</div>
				<div ui-view></div>
			</div>
		</div>
	</div>
</div>