<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content animated fadeIn">
			<div class="ibox">
				<div class="ibox-title">
		        	<a ui-sref="app.users.new" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Add New User</a>
				</div>
				<div class="ibox-content">
					<div class="clients-list">
						<div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <tbody>
	                                <tr ng-repeat="u in ul.users">
	                                    <td class="client-avatar"><img alt="image" src="../img/profile_small.jpg"> </td>
	                                    <td><a ui-sref="app.users.edit({id: u._id})" class="client-link">{{u.name}}</a></td>
	                                    <td> {{u.admin}}</td>
	                                    <td class="contact-type"><i class="fa fa-envelope"> </i></td>
	                                    <td> {{u.email}}</td>
	                                    <td class="client-status">
	                                    	<span class="label label-primary" ng-if="u.active">Active</span>
	                                    	<span class="label label-warning" ng-if="!u.active">Inactive</span>
	                                    </td>
	                                    <td class="project-actions">
									        <a ui-sref="app.users.edit({id: u._id})" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a>
									        <a ng-click="ul.deleteUser(u._id)" ng-if="!u.admin" class="btn btn-white btn-sm" ng-disabled="ul.deleteActive == u._id"><i class="fa fa-close"></i> Delete </a>
									    </td>
	                                </tr>
                            	</tbody>
                            </table>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>