<div class="row m-t-sm m-l-sm">
	<h3>{{ ue.mode }} User</h3>
    <small>
        Have a brief little blub about the template type they are going to add, maybe some helpful tips.
    </small>
</div>

<div class="wrapper wrapper-content animated fadeIn">
	<form ng-submit="userForm.$valid && ue.saveUser()" name="userForm" novalidate confirm-exit>
		<div class="row">
			<div class="col-md-4">
				<div class="ibox">
					<div class="ibox-title">
		                <button class="btn btn-primary btn-sm">Save</button>
		            </div>
		            <div class="ibox-content">
		            	<div class="row">
			            	<div class="col-md-10">
				            	<div class="form-group" ng-class="{'has-error': userForm.$submitted && !userForm.name.$valid}">
				            		<label class="control-label">Name</label>
				            		<input type="text" class="form-control" ng-model="ue.user.name" name="name" required>
				            	</div>
				            </div>
				            <div class="col-md-2">
				            	<div class="form-group">
			                        <label>Active</label>
			                        <p class="form-control-static">
			                            <label class="radio-inline">
			                                <input type="checkbox" ng-model="ue.user.active">
			                            </label>
			                        </p>
			                    </div>
				            </div>
			            	<div class="col-md-12">
				            	<div class="form-group" ng-class="{'has-error': userForm.$submitted && !userForm.email.$valid || ue.emailExists}">
				            		<label class="control-label">Email</label>
				            		<input type="text" class="form-control" ng-model="ue.user.email" name="email" required>
				            		<span id="userEmailExist" class="help-block" ng-show="ue.emailExists">Email already exists.</span>
				            	</div>
				            </div>
				        </div>
				        <div class="row">
				        	<div class="col-md-12">
				        		<div class="form-group" ng-class="{'has-error': userForm.$submitted && !userForm.password.$valid}">
				            		<label>Password</label>
				            		<input type="password" class="form-control" name="password" ng-model="ue.user.password" ng-required="ue.mode === 'Add New'">
				            	</div>
				        	</div>
				        </div>
		            </div>
		        </div>
		    </div>
		</div>
	</form>
</div>