<div class="wrapper wrapper-content animated fadeIn">
	<form ng-submit="assetForm.$valid && ae.saveAsset()" name="assetForm" novalidate confirm-exit>
	    <div class="row">
		    <div class="col-md-12">	    
		        <div class="ibox">
		            <div class="ibox-title">
		            	<h5>{{ae.mode}} Asset</h5>
		            	<div class="ibox-tools">
		            		<button type="button" class="btn btn-primary btn-sm" ng-click="ae.addCustomField()">Add Field</button>
			                <button class="btn btn-primary btn-sm">Save</button>
			                <button class="btn btn-default btn-sm" ui-sref="app.clients.detail.dashboard">Cancel</button>
			            </div>
		            </div>
		            <div class="ibox-content">
		            	<div class="row">
		            		<div class="col-md-4">
								<div class="form-group">
									<label class="control-label">Name</label>
									<input type="text" class="form-control" ng-model="ae.asset.name">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h4>Custom Fields</h4>
							</div>
							<div class="col-md-4" ng-repeat="c in ae.asset.custom.fields">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Field Name</label>
											<div class="input-group">
												<input type="text" class="form-control" ng-model="c.name"><span class="input-group-btn">
			                                        <button type="button" class="btn btn-danger" ng-click="ae.removeCustomField($index)">
			                                            <i class="fa fa-minus"></i>
			                                        </button>
			                                    </span>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Field Value</label>
											<input type="text" class="form-control" ng-model="c.value">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
		        <div class="ibox">
		            <div class="ibox-title">
		            	<h5>Templates</h5>
		            </div>
		            <div class="ibox-content ibox-heading">
			            <div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Template Type</label>
									<select class="form-control" name="templateType" ng-model="ae.templateType" ng-options="t.description for t in ae.templateTypes">
									</select>
								</div>
							</div>
		            		<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Asset Type</label>
									<select class="form-control" name="template" ng-model="ae.selectedTemplate" ng-options="t.name for t in ae.templates | filter: ae.templateType._id">
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 text-right">
								<a ng-click="ae.addTemplate()">Add Template</a>
							</div>
						</div>
			        </div>
		            <div class="ibox-content clearfix" ng-repeat="t in ae.asset.types">
	            		<div class="row">
							<div class="col-md-10">
								<h3>{{t.template.name}} Template</h3>
							</div>
							<div class="col-md-2 text-right">
								<a ng-click="ae.removeTemplate($index)"><i class="fa fa-close"></i> Remove Template</a>
							</div>
						</div>
						<div class="row">
		            		<div class="col-md-3" ng-repeat="f in t.fields">
								<div class="form-group">
									<label class="control-label">{{f.name}}</label>
									<input type="text" class="form-control" ng-model="f.value">
								</div>
							</div>
						</div>
						<div class="row" ng-if="t.script">
							<div class="col-md-12">
								<ui-codemirror ui-codemirror-opts="ae.editorOptions" ng-model="t.script">
				        			// Code Goes Here.
				        			// You can copy paste your code here.
                        		</ui-codemirror>
							</div>
						</div>
		            </div>
		            <!-- <div class="ibox-content">
		            </div> -->
		        </div>
		    </div>
		</div>
	</form>
</div>