<div class="ibox-content" ng-cloak>
    <div class="row">
    	<div class="col-md-4">
    		<!-- <div class="form-group"> -->
            <form ng-submit="td.submitFilter()">
        		<input type="text" class="form-control input-sm" placeholder="Search assets..." ng-model="alc.assetFilter">
        	</form>
            <!-- </div> -->
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-sm btn-default" ng-click="alc.clearFilter()" ng-hide="alc.assetFilter == null"><i class="fa fa-close"></i> Clear Filters</button>
            <!-- <h4 ng-hide="td.taskFilter == 'is:open'"><a ng-click="td.clearFilter()"><i class="fa fa-close"></i> Clear filters</a></h4> -->
        </div>
    	<!-- <div class="col-md-6 text-right">
    		<h4><i class="fa fa-pencil-square-o"></i> <a ui-sref="app.tasks.list.details({q: null, page: null})">{{td.open}} Open</a> <i class="fa fa-check-square-o"></i> <a ui-sref="app.tasks.list.details({q: 'completed', page: null})">{{td.completed}} Completed</a></h4>
    	</div> -->

    </div>
    <div class="row">
        <div class="col-md-12">
        	<table class="table table-hover m-t">
				<thead>
					<tr>
						<th>Name</th>
						<th class="text-center">Type</th>
						<th class="text-center">Version</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="a in alc.assets">
						<td><a ui-sref="app.clients.detail.asset.dashboard({asset_id: a._id})">{{a.name}}</a></td>
						<td class="text-center">
							<span ng-repeat="t in a.types">{{t.template.name}}<span ng-if="!$last">, </span></span>
						</td>
						<td class="text-center">{{t.version}}</td>
						<td>
							<span class="pull-right">
								<button class="btn btn-warning btn-xs" ng-click="alc.copyAsset(a._id)">Copy</button>&nbsp;
								<a class="btn btn-info btn-xs" ui-sref="app.clients.detail.asset.edit({asset_id: a._id})">Edit</a>&nbsp;
								<button class="btn btn-danger btn-xs" ng-click="alc.deleteAsset(a._id)" ng-disabled="alc.deleteActive == a._id">Delete</button>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
            <!-- <ul class="todo-list m-t">
                <li ng-repeat="t in td.tasks | orderBy: 'order'">
                    <input icheck type="checkbox" ng-model="t.completed" ng-change="td.checkCompleted(t)">
                    <span class="m-l-xs" ng-class="{'todo-completed': t.completed}"><a ui-sref="app.tasks.edit({id: t._id})">{{t.title}}</a></span>
                    <small ng-show="t.assignedto" class="m-l-sm"><i class="fa fa-user-o"></i> {{t.assignedto.name}}</small>
                    <small ng-show="t.client" class="m-l-sm"><i class="fa fa-building-o"></i> <a ui-sref="app.clients.detail.dashboard({id: t.client._id})">{{t.client.name}}</a></small>
                    <small ng-show="t.asset" class="m-l-sm"><i class="fa fa-laptop"></i> <a ui-sref="app.clients.detail.asset.dashboard({id: t.client._id, asset_id: t.asset._id})">{{t.asset.name}}</a></small>
                    <small ng-show="t.checklists.length" class="m-l-sm">
						<i class="fa fa-check-square-o"></i> {{t.completedItems}} of {{t.totalItems}}
                    </small>
                    <small ng-show="t.activities.length" class="m-l-sm">
                        <i class="fa fa-comment-o"></i> {{t.activities.length}}
                    </small>
                </li>
            </ul> -->
        </div>
        <div class="col-md-12 text-center">
            <ul uib-pagination total-items="alc.totalItems" ng-model="alc.currentPage" items-per-page="alc.itemsPerPage" class="pagination-sm" ng-change="alc.changePage()"></ul>
        </div>
    </div>
</div>