<div class="wrapper wrapper-content animated fadeIn">
    <!-- <div class="bg-warning p-xs b-r-sm m-b-md">
        Example Alert Notice so that everyone who navigates to this page will see this right away. ie) Ability to attach ticket and indicate that there is an issue happening 
        at the client site.
    </div> -->
    <div class="row m-b-sm">
        <div class="col-md-12">
            <button type="button" ui-sref="app.clients.detail.asset.edit({asset_id: ad.asset._id})" class="btn btn-sm btn-info"><i class="fa fa-pencil"></i> Edit</button>
            <button type="button" ng-click="ad.copyAsset()" class="btn btn-sm btn-warning"><i class="fa fa-clone"></i> Copy</button>
            <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Delete</button>
        </div>
    </div>
    <div class="row m-b-lg">
        <div class="col-md-6">

            <!-- <div class="profile-image">
                <img src="img/sitkum.png" class="img-circle circle-border m-b-md" alt="profile">
            </div> -->
            <!-- <div class="profile-info"> -->
            <div class="">
                <div class="">
                    <div>
                        <h2 class="no-margins">
                            {{ad.asset.name}} <!-- <button class="btn btn-primary btn-xs" ui-sref="app.clients.detail.asset.edit({asset_id: ad.asset._id})">Edit</button> -->
                        </h2>
                        <h4>Brief description of asset.</h4> 
                        <!-- <div>
                            <a ui-sref="app.clients.edit({id: cd.client._id})" class="btn btn-primary btn-xs">Edit</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <table class="table small m-b-xs">
                <tbody>
                <tr>
                    <td>
                        <strong>3</strong> Open Tasks
                    </td>
                    <td>
                        <strong>5</strong> Open Tickets
                    </td>

                </tr>
                <tr>
                    <td>
                        <strong>4</strong> Scripts
                    </td>
                    <td>
                        <strong>54</strong> Articles
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>4</strong> Unread Alerts
                    </td>
                    <td>
                        <strong>32</strong> Friends
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <small>Sales in last 24h</small>
            <h2 class="no-margins">206 480</h2>
            <div sparkline spark-data="chart.sparkline1" spark-options="chart.sparkline1Options"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Information</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content ">
                    <div class="row">
                        <div class="col-md-12" ng-repeat="c in ad.asset.custom.fields">
                            <p>{{c.name}}: {{c.value}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div>
	<div class="row"> -->
		<div class="col-md-4" ng-repeat="a in ad.asset.types">
			<div class="ibox float-e-margins">
	    		<div class="ibox-title">
	    			<h5>{{a.template.name}}</h5>
                    <div ibox-tools></div>
	    		</div>
            	<div class="ibox-content">
            		<table class="table">
						<thead>
							<tr>
								<th ng-repeat="f in a.fields">{{f.name}}</th>
                                <th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td ng-repeat="f in a.fields">{{f.value}}</td>
                                <td class="text-right" ng-if="a.script"><a ng-click="ad.viewScript(a._id)">View Script</a>&nbsp;&nbsp;<a>Download Script</a></td>
                            </tr>
						</tbody>
					</table>
					<!-- {{ad.asset}} -->
				</div>
			</div>
		</div>
	<!-- </div>
    <div class="row"> -->
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Activity</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="activity-stream">
                        <div class="stream">
                            <div class="stream-badge">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <div class="stream-panel">
                                <span>Edited by {{ad.asset.lastupdatedby.name}}</span>
                                <div class="stream-info">
                                    <span class="date" am-time-ago="ad.asset.lastupdatedat"></span>
                                </div>
                            </div>
                        </div>

                        <div class="stream">
                            <div class="stream-badge">
                                <i class="fa fa-file-text-o"></i>
                            </div>
                            <div class="stream-panel">
                                <div>
                                    <span>Created by {{ad.asset.createdby.name}}</span>
                                    <div class="stream-info">
                                        <span class="date">{{ad.asset.createdat | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>