<div class="row m-t-sm m-l-sm">
	<div class="row">
	    <div class="col-md-12">
	    	<h3>Assets</h3>
	        <small>
	            Listing of all the current client assets
	        </small>
	    </div>
	</div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeIn">
            <div class="ibox">
                <div class="ibox-title clearfix">
                    <div class="row">   
                        <div class="col-md-4">
                            <form novalidate name="al.asset" ng-submit="al.asset.$valid && al.addAsset()">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Quick Add Asset" ng-model="al.newAsset">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-white"> Add Asset</button>
                                        <!-- <a ui-sref="app.clients.detail.asset.new" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Add Asset</a> -->
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-8 text-right">
                        	<div class="btn-group" uib-dropdown auto-close="outsideClick" is-open="a.created.open">
								<button id="" type="button" class="btn btn-link btn" uib-dropdown-toggle>
									Created By <span class="caret"></span>
								</button>
						      	<ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu">
							        <li class="p-xs bg-muted">
								        <input type="text" class="form-control input-sm" placeholder="Filter Users" ng-model="a.createdSearch">
							        </li>
							        <li ng-hide="a.createdSearch"><a ng-click="a.createdFilterChange()"><i class="fa fa-check m-r-xs" ng-if="a.created.selected === undefined"></i> All</a></li>
							        <li ng-repeat="u in a.users | filter: a.createdSearch"><a ng-click="a.createdFilterChange(u.name)"><i class="fa fa-check m-r-xs" ng-if="a.created.selected == u.name"></i> {{u.name}}</a></li>
						      	</ul>
						    </div>
                        </div>
                    </div>
                </div>
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row m-t-sm m-l-sm">
	<div class="row">
	    <div class="col-md-12">
	    	<h3>Assets</h3>
	        <small>
	            Listing of all the current client assets
	        </small>
	    </div>
	</div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
	<div class="row">
		<div class="col-md-12">
			<div class="ibox">
				<div class="ibox-title">
	                <a ui-sref="app.clients.detail.asset.new" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Add Asset</a>
	            </div>
	            <div class="ibox-content">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th class="text-center">Type</th>
								<th class="text-center">Version</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="a in al.assets">
								<td><a ui-sref="app.clients.detail.asset.dashboard({asset_id: a._id})">{{a.name}}</a></td>
								<td class="text-center">
									<span ng-repeat="t in a.types">{{t.template.name}}<span ng-if="!$last">, </span></span>
								</td>
								<td class="text-center">{{t.version}}</td>
								<td>
									<span class="pull-right">
										<button class="btn btn-warning btn-xs" ng-click="al.copyAsset(a._id)">Copy</button>&nbsp;
										<a class="btn btn-info btn-xs" ui-sref="app.clients.detail.asset.edit({asset_id: a._id})">Edit</a>&nbsp;
										<button class="btn btn-danger btn-xs" ng-click="al.deleteAsset(a._id)" ng-disabled="al.deleteActive == a._id">Delete</button>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div> -->