<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">View Script</h4>
    </div>
    <div class="modal-body">
        <div class="row">
        	<div class="col-md-12">
	        	<div class="row">
	        		<ui-codemirror ui-codemirror-opts="asm.editorOptions" ng-model="asm.script" id="script-copy">
	        			{{asm.script}}
	        		</ui-codemirror>
	        	</div>
        	</div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="asm.cancel()" class="btn btn-default">Close</button>
        <button type="button" class="btn btn-success" ngclipboard data-clipboard-text="{{asm.script}}" ngclipboard-success="asm.onSuccess(e)">Copy</button>
        <button type="button" class="btn btn-primary">Download</button>
    </div>
</div>