<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content animated fadeIn">
		<div class="ibox">
			<div class="ibox-title">
	    		<h5>Select a client below</h5>

	    		<div class="ibox-tools">
	        		<a ui-sref="app.clients.new" class="btn btn-primary btn-xs">Add New Client</a>
	    		</div>
			</div>
			<div class="ibox-content">
			<div class="row m-b-sm m-t-sm">
			    <div class="col-md-1">
			        <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
			    </div>
			    <div class="col-md-11">
			        <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
					<button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
			    </div>
			</div>

			<div class="project-list">
				<table class="table table-hover">
					<tbody>
						<tr ng-repeat="c in cl.clients | orderBy:'name'">
						    <td class="project-status">
						        <span class="label label-primary">Active</span>
						    </td>
						    <td class="project-title">
						        <a ui-sref="app.clients.detail({id: c._id})">{{c.name}}</a>
						        <br/>
						        <small>Created 14.08.2014</small>
						    </td>
						    <td class="project-completion">
						        <small>Tickets closed this month: 48%</small>
						        <div class="progress progress-mini">
						            <div style="width: 48%;" class="progress-bar"></div>
						        </div>
						    </td>
						    <td class="project-people">
						       <!--  <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>
						        <a href=""><img alt="image" class="img-circle" src="img/a1.jpg"></a>
						        <a href=""><img alt="image" class="img-circle" src="img/a2.jpg"></a>
						        <a href=""><img alt="image" class="img-circle" src="img/a4.jpg"></a>
						        <a href=""><img alt="image" class="img-circle" src="img/a5.jpg"></a> -->
						    </td>
						    <td class="project-actions">
						        <a href="" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
						        <a ui-sref="app.clients.edit({id: c._id})" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a>
						        <a ng-click="cl.deleteClient(c._id)" class="btn btn-white btn-sm" ng-disabled="cl.deleteActive == c._id"><i class="fa fa-close"></i> Delete </a>
						    </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>