<div class="row m-t-sm m-l-sm">
    <div class="col-md-12">
    	<h3>{{ cle.mode }} Location</h3>
        <small>
            Have a brief little blub about the template type they are going to add, maybe some helpful tips.
        </small>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
	<form ng-submit="locationForm.$valid && cle.saveLocation()" name="locationForm" novalidate confirm-exit>
		<div class="col-md-12">
			<div class="ibox">
				<div class="ibox-title">
	                <button class="btn btn-primary btn-sm">Save</button>
	            </div>
				<div class="ibox-content">
					<div class="row">
						<div class="col-sm-8">
		                    <div class="form-group" ng-class="{'has-error': locationForm.$submitted && !locationForm.locationName.$valid || cle.nameExists}">
		                        <label for="locationName" class="control-label">Name</label>
		                        <input type="text" class="form-control" placeholder="Name" name="locationName" ng-model="cle.location.name" required>
		                        <span id="locationExists" class="help-block" ng-show="cle.nameExists">Location already exists.</span>	
		                    </div>
		                </div>
		                <div class="col-sm-4">
		                    <div class="form-group">
		                        <label>Active</label>
		                        <p class="form-control-static">
		                            <label class="radio-inline">
		                                <input type="checkbox" ng-model="cle.location.active">
		                            </label>
		                        </p>
		                    </div>
		                </div>
		                <div class="col-sm-12">
		                    <div class="form-group">
		                        <label class="control-label">Address</label>
		                        <input type="text" class="form-control" placeholder="Street" ng-model="cle.location.address1">
		                    </div>
		                </div>
		                <div class="col-sm-8">
		                    <div class="form-group">
		                        <label class="sr-only">Street</label>
		                        <input type="text" class="form-control" placeholder="Street" ng-model="cle.location.address2">
		                    </div>
		                </div>
		                <div class="col-sm-4">
		                    <div class="form-group">
		                        <label class="sr-only">City</label>
		                        <input type="text" class="form-control" placeholder="City" ng-model="cle.location.city">
		                    </div>
		                </div>
		                <div class="col-sm-4">
		                    <div class="form-group">
		                        <label class="sr-only">Province</label>
		                        <input type="text" class="form-control" placeholder="Province" ng-model="cle.location.province">
		                    </div>
		                </div>
		                <div class="col-sm-4">
		                    <div class="form-group">
		                        <label class="sr-only">Postal Code</label>
		                        <input type="text" class="form-control" placeholder="Postal Code" ng-model="cle.location.postalcode">
		                    </div>
		                </div>
		                <div class="col-sm-4">
		                    <div class="form-group">
		                        <label class="sr-only">Country</label>
		                        <input type="text" class="form-control" placeholder="Country" ng-model="cle.location.country">
		                    </div>
		                </div>
		                <div class="col-sm-4">
		                    <div class="form-group">
		                        <label class="control-label">Phone Number</label>
		                        <input type="text" class="form-control" placeholder="Phone Number" ng-model="cle.location.phonenumber">
		                    </div>
		                </div>
		                <div class="col-sm-4">
		                    <div class="form-group">
		                        <label class="control-label">Fax Number</label>
		                        <input type="text" class="form-control" placeholder="Fax Number" ng-model="cle.location.faxnumber">
		                    </div>
		                </div>
		                <div class="col-sm-4">
		                    <div class="form-group">
		                        <label class="control-label">Email</label>
		                        <input type="text" class="form-control" placeholder="Email" ng-model="cle.location.email">
		                    </div>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</form>
</div>