<div class="wrapper wrapper-content animated fadeIn">
    <div class="col-md-12">
        <div class="row">
        	<form ng-submit="ce.clientForm.$valid && ce.submitClick()" name="ce.clientForm" novalidate confirm-exit>
                <!-- <div class="profile-image">
                    <img src="img/sitkum.png" class="img-circle circle-border m-b-md" alt="profile">
                </div> -->
                <!-- <div class="profile-info"> REMOVED UNTIL WE PUT LOGO BACK.. -->
                <div class="col-md-12">
	                <div class="ibox float-e-margins">
		                <div class="ibox-content">
			                <div class="row">
			                    <div class="col-md-5">
			                        <div class="form-group" ng-class="{'has-error': ce.clientForm.$submitted && !ce.clientForm.name.$valid || ce.nameExists}">
			                        	<label class="control-label">Client Name</label>
			                        	<input type="text" class="form-control" ng-model="ce.client.name" name="name">
			                        	<span id="clientExists" class="help-block" ng-show="ce.nameExists">Client already exists.</span>	
			                        </div>
			                    </div>
			                </div>
			                <div class="row">
			                	<div class="col-md-5">
					                <div class="form-group">
										<label class="control-label">Primary Location</label>
										<select class="form-control" ng-model="ce.client.primarylocation">
											<option ng-repeat="l in ce.client.locations" value="{{l._id}}">{{l.name}}</option>
										</select>
									</div>
								</div>
			                </div>
			                <div class="row">
			                	<div class="col-md-5">
									<div class="form-group">
			                        	<label class="control-label">Website</label>
			                        	<input type="text" class="form-control" ng-model="ce.client.website">
				                    </div>
			                	</div>
			                </div>
			                <div class="row">
			                	<div class="col-md-5">
									<div class="form-group">
			                        	<label class="control-label">Business Hours</label>
			                        	<input type="text" class="form-control" ng-model="ce.client.businesshours">
				                    </div>
			                	</div>
			                </div>
			                <div class="row">
			                	<div class="col-md-5">
									<div class="form-group">
			                        	<label class="control-label">Business Description</label>
			                        	<input type="text" class="form-control" ng-model="ce.client.description">
				                    </div>
			                	</div>
			                </div>
			                <div class="row">
			                	<div class="col-md-5">
			                       	<button class="btn btn-w-m btn-primary" ng-disabled="ce.isSaving">Save</button>
			                	</div>
			                </div>
		                </div>
		            </div>
	            </div>
            </form>
        </div>
    </div>
</div>