<div class="wrapper wrapper-content animated fadeIn">
    <div class="bg-danger p-xs b-r-sm m-b-sm">
        Example Alert Notice so that everyone who navigates to this page will see this right away. ie) Ability to attach ticket and indicate that there is an issue happening 
        at the client site.
    </div>
    <div class="row m-b-sm">
        <div class="col-md-12">
            <button type="button" ui-sref="app.clients.edit({id: cd.client._id})" class="btn btn-sm btn-info"><i class="fa fa-pencil"></i> Edit</button>
            <button type="button" class="btn btn-sm btn-warning"><i class="fa fa-clone"></i> Copy</button>
            <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Delete</button>
        </div>
    </div>
    <div class="row m-b-lg m-t-lg">
        <div class="col-md-6">

            <div class="profile-image">
                <img src="img/sitkum.png" class="img-circle circle-border m-b-md" alt="profile">
            </div>
            <div class="profile-info">
                <div class="">
                    <div>
                        <h2 class="no-margins">
                            {{cd.client.name}}
                        </h2>
                        <h4>Providing Managed IT Services for the West Kootenays</h4>                    
                        <small>
                            Brief description about the company.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <table class="table small m-b-xs">
                <tbody>
                <tr>
                    <td>
                        <strong>142</strong> Projects
                    </td>
                    <td>
                        <strong>3</strong> Open Tickets
                    </td>

                </tr>
                <tr>
                    <td>
                        <strong>61</strong> Comments
                    </td>
                    <td>
                        <strong>54</strong> Articles
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>154</strong> Tags
                    </td>
                    <td>
                        <strong>32</strong> Friends
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <small>Sales in last 24h</small>
            <h2 class="no-margins">206 480</h2>
            <div sparkline spark-data="chart.sparkline1" spark-options="chart.sparkline1Options"></div>
        </div>
    </div>
    <div class="row">
        <!-- <div ui-view></div> -->
        <div class="wrapper wrapper-content animated fadeIn">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>Assets</h5>
                                <div class="ibox-tools">
                                    <button class="btn btn-white btn-sm" ui-sref="app.clients.detail.asset.list.details">View All</button>
                                    <button class="btn btn-primary btn-sm" ui-sref="app.clients.detail.asset.new"><i class="fa fa-plus"></i> New Asset</button>    
                                </div>
                            </div>
                            <div class="ibox-content">
                                <table class="table table-hover no-margins">
                                    <thead>
                                    <tr>
                                        <th>Asset Name</th>
                                        <th>Type</th>
                                        <th>Roles</th>
                                        <th>OS</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="a in cd.client.assets">
                                            <td><a ui-sref="app.clients.detail.asset.dashboard({asset_id: a._id})">{{a.name}}</a></td>
                                            <td>Server</td>
                                            <td>DC, FS, DNS, Print</td>
                                            <td class="text-navy">Windows Server 2012 Standard</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>Passwords</h5>
                                <div class="ibox-tools">
                                    <button class="btn btn-primary btn-sm" ng-click="add()" ng-disabled="isLoading"><i class="fa fa-plus"></i> New Password</button>    
                                </div>
                            </div>
                            <div class="ibox-content">
                                <table class="table table-hover no-margins">
                                    <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Password</th>
                                        <th>Email</th>
                                        <th>Notes</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>username123</td>
                                            <td>********</td>
                                            <td>user@email.com</td>
                                            <td class="text-navy">Godaddy Account Pass...</td>
                                        </tr>
                                        <tr>
                                            <td>username123</td>
                                            <td>********</td>
                                            <td>user@email.com</td>
                                            <td class="text-navy">Godaddy Account Pass...</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ibox">
                            <div class="ibox-title">
                                Add Comment
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <form ng-submit="cd.commentForm.$valid && cd.addComment()" name="cd.commentForm" novalidate>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" ng-model="cd.newComment">
                                        </div>
                                        <div class="col-md-12 m-t-sm">
                                            <button type="submit" class="btn btn-primary">Add Comment</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Activity</h5>
                                <div ibox-tools></div>
                            </div>
                            <div class="ibox-content">
                                <div class="activity-stream">
                                    <div class="stream">
                                        <div class="stream-badge">
                                            <i class="fa fa-pencil"></i>
                                        </div>
                                        <div class="stream-panel">
                                            <span>Edited by {{ad.asset.lastupdatedby.name}}</span>
                                            <div class="stream-info">
                                                <span class="date" am-time-ago="ad.asset.lastupdatedat"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="stream">
                                        <div class="stream-badge">
                                            <i class="fa fa-file-text-o"></i>
                                        </div>
                                        <div class="stream-panel">
                                            <div>
                                                <span>Created by {{ad.asset.createdby.name}}</span>
                                                <div class="stream-info">
                                                    <span class="date">{{ad.asset.createdat | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>