<div class="fh-breadcrumb animated fadeIn" fit-height>
	<div class="fh-column">
        <div class="full-height-scroll" full-scroll>
            <ul class="list-group elements-list">
                <li ui-sref-active="active" class="list-group-item list-group-item-remove">
                    <!-- <a ui-sref=".basic" class="sub-menu-item"><i class="fa fa-file-o fa-fw"></i> Basic</a> -->
                    <a ng-click="cel.navigate('basic')" ng-disabled="ce.clientEdit" class="sub-menu-item"><i class="fa fa-file-o fa-fw"></i> Basic</a>
                </li>
                <li ui-sref-active="active" class="list-group-item list-group-item-remove">
                    <!-- <a ui-sref=".locations" class="sub-menu-item"><i class="fa fa-map-marker fa-fw"></i> Locations</a> -->
                    <a ng-click="cel.navigate('locations')" ng-disabled="ce.clientEdit" class="sub-menu-item"><i class="fa fa-map-marker fa-fw"></i> Locations</a>
                </li>
                <li ui-sref-active="active" class="list-group-item list-group-item-remove">
                    <a ui-sref=".contacts" class="sub-menu-item"><i class="fa fa-hashtag fa-fw"></i> Contacts</a>
                </li>
                <li ui-sref-active="active" class="list-group-item list-group-item-remove">
                    <a ui-sref=".customfields" class="sub-menu-item"><i class="fa fa-code fa-fw"></i> Custom Fields</a>
                </li>
                <!-- <li ui-sref-active="active" class="list-group-item">
                    <a ui-sref="settings.organization.defaults"><i class="fa fa-users"></i> Business Numbers</a>
                </li> -->
            </ul>
        </div>
    </div>

	<div class="full-height">
        <div class="full-height-scroll border-left" full-scroll>
            <div ui-view></div>
        </div>
    </div>
</div>