<div class="footer">
    <div class="pull-right">
        <a href="https://gitlab.com/martin.fedec/itdocs/issues?milestone_title=Version+0.6&state=closed" target="_blank">v0.6</a>
    </div>
    <div>
        <strong>Copyright</strong> Example Company &copy; 2015-2017
    </div>
</div>
