<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <img ng-src="img\profile_small.jpg" class="profileImage img-circle">
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{mc.userName}}</strong>
                             </span>
                                <span class="text-muted text-xs block">Example menu<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu="" class="animated fadeInRight m-t-xs">
                        <li><a ui-sref="app.changepassword">Change Password</a></li>
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="app.dashboard"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span> </a>
            </li>
            <li ui-sref-active="{'active': 'app.clients.*.*.*.*'}">
                <a ui-sref="app.clients.list"><i class="fa fa-users"></i> <span class="nav-label">Clients</span> </a>
            </li>
            <li ui-sref-active="{'active': 'app.tasks.*.*.*'}">
                <a ui-sref="app.tasks.list.details"><i class="fa fa-check-square-o"></i> <span class="nav-label">Tasks</span> </a>
            </li>
            <li ui-sref-active="{'active': 'app.templates.*.*'}">
                <a ui-sref="app.templates.list.details"><i class="fa fa-files-o"></i> <span class="nav-label">Templates</span> </a>
            </li>
            <li ui-sref-active="{'active': 'app.users.*.*'}">
                <a ui-sref="app.users.list"><i class="fa fa-users"></i> <span class="nav-label">Users</span> </a>
            </li>
            <li ng-class="{active: $state.includes('app.settings')}">
                <a><i class="fa fa-cog"></i> <span class="nav-label">Settings </span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('app.settings')}">
                    <li ui-sref-active="active"><a ui-sref="app.settings.organization">Organization </a></li>
                    <li ui-sref-active="active"><a ui-sref="app.settings.integrations">Integrations </a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>