<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
            <form role="search" class="navbar-form-custom" method="post" action="">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li uib-dropdown>
                <a href uib-dropdown-toggle>
                    <i class="fa fa-plus"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <div>
                            <h4>Create</h4>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a ui-sref="app.tasks.new">
                            <div>
                                <i class="fa fa-check-square-o fa-fw"></i> Task
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div>
                                <i class="fa fa-laptop fa-fw"></i> Asset
                            </div>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="app.clients.new">
                            <div>
                                <i class="fa fa-building fa-fw"></i> Client
                            </div>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="app.templates.new">
                            <div>
                                <i class="fa fa-file-code-o fa-fw"></i> Template
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li uib-dropdown>
                <a href uib-dropdown-toggle>
                    <i class="fa fa-history"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <div>
                            <h4>Last 5 items accessed</h4>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a>
                            <div>
                                <i class="fa fa-user fa-fw"></i> Red Clover Dental
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div>
                                <i class="fa fa-file fa-fw"></i> Server Asset Template
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div>
                                <i class="fa fa-user fa-fw"></i> Selkirk College
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li uib-dropdown>
                <a class="count-info" href uib-dropdown-toggle>
                    <i class="fa fa-bell"></i> <span class="label label-primary">{{alerts.length}}</span>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li ng-if="alerts.length == 0 || alerts == undefined">
                        <div class="text-center"><h4>Yay! No Alerts!</h4></div>
                    </li>
                    <li ng-repeat="a in alerts">
                        <a>
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> {{a.message}}
                                <span ng-click="acknowledged(a._id)" class="pull-right"><i class="fa fa-check"></i></span>
                            </div>
                        </a>
                    </li>
                    <!-- NEED TO GET DIVIDER AFTER EACH ITEM -->
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a ui-sref="alerts">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="" ng-click="mc.logout()">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>
    </nav>
</div>